.arrowBox{
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

.boxRow{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imgLeft{
    width: 40px;
    height: 40px;
}

.imgRight{
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
}