.img{
    width: 30px;
    height: 30px;
}

.wrapper{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px 0 5px;
    border: 1px solid #ebcda4;

}

.row{
    display: flex;
    align-items: center;
}

.minus{
    font-weight: 700;
    border: 1px solid #ebcda4;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.minus:hover{
    background: #e4ebce;
    transition: 0.5s;
}